
        <div class="container">
                   <div class="row">
                <div class="col-lg-5 text-center">
                    <h3 class="">#GoodGame {{ score }} </h3>
                </div>
              </div>

            <div>
                <div style="display:none">
                        <img id="bird" src="images/bird.png"/>
                        <img id="gameOver" src="images/gameOver.png"/>
                        <img id="rankingButton" src="images/rankingButton.png"/>
                        <img id="replayButton" src="images/replayButton.png"/>
                        <img id="scorePanel" src="images/scorePanel.png"/>
                        <img id="startButton" src="images/startButton.png"/>
                        <img id="title" src="images/title.png"/>           
                </div>

                <canvas tabIndex="1" style=' background: url("./images/background.png") ;order: 10px gray solid; float: center' height='533' width='800' id="canvas" game-canvas scene-name="{{sceneName}}">You cant display canvas..</canvas>
            </div>

          

            
        </div>
                 
        
